/* Texto da página */
/* Titulo */
[data-testid="stHeadingWithActionElements"] h1{
    font-family: var(--font-mont);
    font-weight: 800;
    color: var(--cor-paleta-400);
    text-transform: uppercase;
}

/* Subtitulo */
[data-testid="stMarkdownContainer"] h6{
    font-family: var(--font-mont);
    font-weight: 500;
    color: var(--cor-paleta-400);
}


/* Botão de Historico*/
.st-key-btn_excluir button{
    border: 1px solid var(--cor-paleta-300);
    padding: 0.8rem 2.5rem;
    background-color: var(--cor-paleta-100);
    transition: all 0.5s;
    color: var(--cor-paleta-300);
}

.st-key-btn_excluir button:hover{
    border: var(--cor-paleta-100) 1px solid;
    background-color: var(--cor-paleta-400);
    color: var(--cor-paleta-100);
    transition: ease 0.5s;
}

.st-key-btn_excluir button:focus:not(:active){
    border: var(--cor-paleta-100) 1px solid;
    background-color: var(--cor-paleta-400);
    color: var(--cor-paleta-100);
    transition: ease 0.5s;

}