/* Estilo Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis para as Cores */
:root{
    --cor-paleta-50: #000;
    --cor-paleta-100: #595958;
    --cor-paleta-200: #8C8C8C;
    --cor-paleta-300: #F2F2F0;
    --cor-paleta-400: #D9D4CC;
    --cor-paleta-500: #EBEBF2;
}